<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<p><%= link_to "edit #{@article.title}", edit_article_path(@article) %></p>
<p><%= link_to "delete #{@article.title}", article_path(@article), data: {
                                                                        turbo_method: :delete,
                                                                        turbo_confirm: "are you sure?"
} %></p>